<h1> Shift starter app </h1>
  
  <div ng-controller="ProfileCtrl">
    <p>Hello and welcome to being logged in!</p>
    <button ng-click="getMyProfile()">See your stuff</button>
    <p> {{ current_user.first_name }} </p>
      
      <div ng-controller="TweetCtrl">
        <h1>Write a tweet</h1>
        <form novalidate>
          Text: <input type="text" maxlength="140" ng-model="tweet.text" /><br />
        <input type="submit" ng-click="createTweet(tweet)" value="Save" />
        </form>
       
        <br />

        <h1>Your tweets</h1>
        <button ng-click="getTweets()">See your tweets</button>
        <li ng-repeat="tweet in tweets | limitTo:numTweets" ng-model="numTweets">
            {{ tweet.text }}
          </li>
        </div>
        <br />
    <div ng-controller="UsersCtrl">
    <button ng-click="getUsers()">See all users</button>
    <ul>
      <li ng-repeat="user in users" ng-if="user.username != myself">
        <a href="/#/profile/{{ user.id }}" ng-click=loadProfile(user)>{{ user.username }}</a>
      </li>
    </ul>
    </div>

    <br />     
    <button ng-click="logout()">Logout</button>
  </div>