<div ng-controller="ProfileCtrl">
  <h2>{{ load_profile.first_name }}'s Profile</h2>
  <p>{{ load_profile.username }}</p>
  <h2>Tweets</h2>
    <ul ng-repeat="tweet in load_tweets">
      <li>{{ tweet.text }}</li>
    </ul>

<div>
  <button ng-click="getFollowers(load_profile.id)">See user's followers</button>
  <ul ng-repeat="follower in followers">
    <li>{{ follower }}</li>
  </ul>
</div>

<br />

<div ng-controller="HomeCtrl">
  <button ng-click="follow(load_profile.id)">Follow user</button>
</div>